*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#form-link, #shortened-link-area{
    padding: 0;
    width: 40vw;
}

#img-main{
    width: 200px;
    aspect-ratio: 1 / 1;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 1em;
}


@media screen and (max-width: 767px){
    #form-link, #shortened-link-area{
        padding: 0;
        width: 80vw;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    #form-link, #shortened-link-area{
        padding: 0;
        width: 60vw;
    }
    
}